*{
  font-family: monospace;
}

.markDownEditor {
  display: flex;
  width: 90vw;
  height: 90vh;
  margin: auto;
  justify-content: space-between;
}

.input-container {
  justify-content: center;
  width: 50%;
  padding: 10px;
}
.input-field textarea {
    width: 95%;
    height: 69vh;
    border: none;
    padding: 5px;
    line-height: 23px;
}

.input-field textarea:focus{
    outline: none;
}


.input-field textarea::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.input-field textarea::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.input-field textarea::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.output {
  width: 50%;
  max-height: 83vh;
  justify-self: center;
  padding-left: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.markdown-output{
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}


.markdown-output::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.markdown-output::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.markdown-output::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.output h2{
  position: sticky;
  top:0px
}

@media screen and (max-width:900px){
  .markDownEditor{
    flex-wrap: wrap;
  }
  .markDownEditor > *{
    width: 100%;
  }
}